#past {
  background: $lightblack;
  padding: 3rem 0;
  min-height: 10rem;
  text-align: center;
  margin-bottom: 3rem;
  @include media-breakpoint-down(md) {
    padding: 2rem 0;
    min-height: auto;
  }
  @include watermark();
  position: relative;
  .card {
    background: transparent;
    color: $white;
    transition: box-shadow 0.4s;
    margin-top: 2.5rem;
    padding-top: 2.5rem;
    &:hover {
      cursor: pointer;
      background: $lighterblack;
      @include box-shadow(0, 0, 10px, rgba(0, 0, 0, 0.6));
      svg,
      h5 {
        color: $yellow;
      }
    }
    .card-header {
      width: 3.75rem;
      height: 3.75rem;
      background: $gray;
      margin: 0 auto;
      svg {
        width: 2rem;
        margin-left: -3rem;
        margin-top: 0.5rem;
        font-weight: 300;
        transition: all 0.5s ease;
      }
    }
    h5 {
      transition: all 0.5s ease;
      @include media-breakpoint-down(md) {
        font-size: 1.05rem;
      }
    }
    p {
      padding: 0 1rem;
    }
  }
}
